@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Index">Админка</a>
        </li>
    }
</ul>
