@model AutionApp.Lot

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редактирование</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LotId" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Photo" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeStart" class="control-label"></label>
                <input asp-for="TimeStart" class="form-control" />
                <span asp-validation-for="TimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeEnd" class="control-label"></label>
                <input asp-for="TimeEnd" class="form-control" />
                <span asp-validation-for="TimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPrice" class="control-label"></label>
                <input asp-for="StartPrice" class="form-control" />
                <span asp-validation-for="StartPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step" class="control-label"></label>
                <input asp-for="Step" class="form-control" />
                <span asp-validation-for="Step" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
